__pycache__/
*.pyc
.pytest_cache/
.DS_Store

tests/mounted/output/*
!tests/mounted/output/.gitkeep

tests/mounted/input/*
!tests/mounted/input/.gitkeep

tests/mounted/config/*
!tests/mounted/config/.gitkeep

local_scripts/

*.ipynb_checkpoints/

.vscode/launch.local.json
